@use './variables' as *;

header{
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: white;
}

img{
  width: 100%;
}

footer{
  background-color: #111117;
  color: #bcbdbd;
  // height: 300px;
  padding-top: 130px;
  padding-bottom: 30px ;
}